<ion-view view-title="PREDICT ROUND {{fixture.round}} FIXTURES">
    <ion-content ng-controller="RoundDetailCtrl" class="padding">
        <td-cards ng-if="cardView">
            <td-card ng-repeat="fixture in fixtures track by $index"
                     on-destroy="cardDestroyed($index)"
                     on-transition-left="cardSwipedLeft(fixture._id)"
                     on-transition-right="cardSwipedRight(fixture._id)"
                     on-swipe-down="cardSwipedDown(fixture._id, $index)"
                     on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
                <div class="card-header"><p class="fix-title">FIXTURE {{$index + 1}}</p></div>
                <div class="card-content">
                    <div class="no-text">HOME</div>

                    <div class="card-fix-date">{{fixture.fixDate | date:'EEE d y'}}, {{fixture.kickOff | date: 'hh:mm'}}</div>

                    <div class="shirt-container">
                        <div class="home-team col-40">
                            <img class="image home-shirt-icon" ng-src="img/team_shirts/{{fixture.homeTeam}}.png">
                            <!-- TODO: team league pos here -->
                            <em class="home-team-label">{{fixture.homeTeam | uppercase}}</em>
                            <!-- TODO: wld for past six matches here -->
                        </div>

                        <h4>VS</h4>

                        <div class="away-team col-40">
                            <img class="image away-shirt-icon" ng-src="img/team_shirts/{{fixture.awayTeam}}.png"">
                            <!-- TODO: team league pos here -->
                            <em class="away-team-label">{{fixture.awayTeam | uppercase}}</em>
                            <!-- TODO: wld for past six matches here -->
                        </div>
                    </div>

                    <div class="yes-text">AWAY</div>
                </div>
            </td-card>
        </td-cards>
        <ion-list class="list" ng-if="!cardView">
            <ion-item class="fix-pred-li item-remove-animate item item-icon-left item-icon-right" ng-model="fixtures"
                      ng-repeat="fixture in listFixtures track by fixture._id"
                      on-swipe-left="predictHomeWin(fixture._id)" on-swipe-right="predictAwayWin(fixture._id)"
                      on-tap="predictDraw(fixture._id)" type="item-text-wrap">
                <div class="fix-pred-header">FIXTURE {{$index}}</div>
                <div class="fix-pred-li-shirts">
                    <div class="fix-home-away">
                        <img ng-class="{faded : fixture.prediction == 'AWAY WIN', slightlyfaded: fixture.prediction == 'DRAW'}" class="image list-home-shirt-icon" ng-src="img/team_shirts/{{fixture.homeTeam}}.png">
                        <em>{{fixture.homeTeam | uppercase}}</em>
                    </div>

                    <h1 class="vs">vs</h1>

                    <div class="fix-home-away">
                        <img ng-class="{faded : fixture.prediction == 'HOME WIN', slightlyfaded: fixture.prediction == 'DRAW'}" class="image list-away-shirt-icon" ng-src="img/team_shirts/{{fixture.awayTeam}}.png">
                        <em>{{fixture.awayTeam | uppercase}}</em>
                    </div>

                    <i class="icon ion-ios-close-empty" ng-click="clearSinglePrediction(fixture)"></i>

                </div>

                <p ng-model="fixture">YOUR PREDICTION: {{fixture.prediction || "No prediction made"}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
                