<ion-view view-title="ABOUT & ACKNOWLEDGEMENTS">
       <ion-content class="settings-content about-content" ng-controller="SettingsCtrl">
        <p>Version 1.0.0</p>
        <p>For support or to provide feedback, please email: </p>
        <button class="button-send" ng-click="sendSupportEmail()">info@yesgetin.com</button>
        <p></p>
        <p>Yes! Get In!&trade; and the Yes! Get In!TM logos <br>
        are trademarks of YES GET IN Limited.</p>
        <p>COMPANY DETAILS YES GET IN LIMITED is a company registered<br>
        in England and Wales with company number 09489380.</p>
        <p>Its registered address is <br>
        20-22, Wenlock Road, London, N1 7GU, England.</p>
        <p></p>
        <div class="about-logo"></div>
        <p></p>
        <p></p>
        <p>&copy; 2015 YES GET IN Limited. All Rights reserved.</p>
    </ion-content>
</ion-view>