<ion-view hide-nav-bar="true" >
    <ion-slide-box>
        <ion-slide>
            <div class="box">
              <h3 class="signup-text">PREDICT RESULTS OF</h3>
              <h3 class="signup-text">PREMIER LEAGUE FIXTURES</h3>
              <br>
              <br>
              <img ng-src="img\Screen1.png">
            </div>
        </ion-slide>
        <ion-slide>
            <div class="box">
              <h3 class="signup-text">THE EARLIER YOU PREDICT</h3>
              <h3 class="signup-text">THE MORE POINTS YOU EARN</h3>
              <br>
              <br>
              <img ng-src="img\Screen2.png">
            </div>
        </ion-slide>
        <ion-slide>
            <div class="box">
              <h3 class="signup-text">CLAIM BRAGGING RIGHTS</h3>
              <h3 class="signup-text">AGAINST YOUR FRIENDS!</h3>
              <br>
              <br>
              <img ng-src="img\Screen3.png">
              </div>
        </ion-slide>
    </ion-slide-box>
    <button class="button button-signin"ng-click="logIn()">SIGN IN</button>
    <img ng-src="img\Startupscreenbackground.png"/>
</ion-view>