<ion-view view-title="ACCOUNT">
    <ion-content class="padding">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
        <ion-list show-delete="shouldShowDelete"
                  show-reorder="shouldShowReorder"
                  can-swipe="listCanSwipe">
            <ion-item>
                Log Out User {{userData.username}}
                <button class="button button-block button-assertive" ng-click="signOut()">Sign Out</button>
            </ion-item>
            <div class="item item-divider">
                Notifications
            </div>
            <ion-item ng-if="userData.notifications.length == 0">No notifications</ion-item>
            <ion-item ng-repeat="notification in userData.notifications track by $index">
                <p class="eighty" ng-click="showNotification($index)">{{notification.message}}</p>
                <i class="icon ion-ios-close-empty" ng-click="clearNotification(notification.notificationId)"></i>
            </ion-item>
            <!--<div class="item item-divider">-->
                <!--Invitations-->
            <!--</div>-->
            <!--<ion-item ng-if="userData.invitations.length == 0">No invitations</ion-item>-->
            <!--<ion-item ng-repeat="invitation in userData.invitations track by $index">-->
                <!--Invitation to: {{invitation.privateLeagueName}} from {{invitation.invitedBy}}-->
                <!--<ion-option-button class="button button-balanced"-->
                                   <!--ng-click="acceptInvitation(invitation.privateLeagueId)">-->
                    <!--Accept-->
                <!--</ion-option-button>-->
                <!--<ion-option-button class="button button-assertive"-->
                                   <!--ng-click="rejectInvitation(invitation.invitedBy, invitation.privateLeagueId)">-->
                    <!--Reject-->
                <!--</ion-option-button>-->
            <!--</ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>
