<ion-view view-title="PREMIER LEAGUE">
    <ion-header-bar class="round-title bar-subheader">
        <div class="round-no-container">
            <p class="round-no">TOTAL POINTS:</p>
        </div>
        <div class="label-button">
            <p class="round-label">{{user.overallSeasonScore || 0}}</p>
        </div>
    </ion-header-bar>
    <ion-content class="rounds-content has-header">
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="round in rounds track by $index"
                      type="item-text-wrap"
                      href="#/tab/rounds/{{round.round}}">
                <div class="round-no-container">
                    <h2 class="round-no">Round {{round.round}}</h2>
                </div>
                <div class="label-button">
                    <p ng-if="round.status == 'Predictions Made'" class="round-label predictions-made">UPDATE PREDICTIONS</p>
                    <p ng-if="round.status == 'Unpredicted'" class="round-label unpredicted">MAKE PREDICTIONS</p>
                    <p ng-if="round.status == 'Complete'" class="round-label complete">POINTS EARNED: {{user.roundScores[$index].roundScore}}</p>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
